.bg-green {
    background-color: green;
}

.bg-red {
    background-color: rgb(180, 27, 0);
}

.bg-blue {
    background-color: blue;
}

.text-white {
    color: white;
}

.text-green {
    color: green;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

.w-80 {
    width: 80%;
}

.w-50 {
    width: 50%;
}

.w-30 {
    width: 30%;
}

.w-20 {
    width: 20%;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.p-5 {
    padding: 5px;
}

.p-10 {
    padding: 10px;
}

.p-15 {
    padding: 15px;
}

.p-20 {
    padding: 20px;
}